.say{
    color:white;
    background-image: url("/Image/background10.png");
    background-position: center;
    background-size: cover;
    height:300px;
    padding:48px;
    margin-bottom: 25rem;
}

.say-button{
    display:flex;
    gap:50%;
}

.say-box{
    background: linear-gradient(100.44deg, #234CBB 2.88%, #00A0AA 104.18%);
    width:100%;
    padding:30px;
    border:10px solid white;
    border-radius: 45px;
    /* transition: transform 0.15s ease-in-out;
    transform:translateX(-100%); */
}
.say-image img{
    width: 100px;
    height:150px;
}
.say-image{
    background-color:whitesmoke;
    display:flex;

}

@media(max-width:600px){
    .say-button{
        display:flex;
        gap:30%;
        height: 50px;
    }
    .inner-flex{
        flex-direction: column;
    }
    .downz{
        transform: translate(0,70px);
    }
}

@media(max-width:452px){
    .say{
        margin-bottom: 35rem !important;
    }
}