.departments {
  background-color: #899ed7;
  padding: 0px 40px 60px 40px;
  text-align: center;
}
.departments-main {
  background-color: #325ac8;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top:20px;
}
.departments-flex {
  display: flex;
  gap: 23px;
}
.department-box {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  padding-top: 0px;
  width: 99%;
  height: 100px;
  align-content: center;
  transform: translate(0px, 30px);
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}
.department-box:hover {
  border: 1px solid white;
  background-color: #00a0aa;
  color: white;
  transform: translateY(10px);
}
.icon-box {
  background-color: gray;
  border-radius: 200px;
  width: 25%;
  aspect-ratio: 1/1;
  font-size: 20px;
  align-content: center;
  transform: translate(150%, 0);
}
.icon-box img {
  width: 60%;
}
@media (max-width: 740px) {
  .departments-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
  }
  .department-box {
    padding-left: 1px;
    padding-right: 1px;
  }
}
