.faq-box{
    background-color: white;
    padding:1%;
    border-radius: 10px;
}

.faq-title{
    display:flex;
    justify-content: space-between;
}

.btn{
    border-style: none;
    height:10px;
    background-color: white;
}